<div>
    <h1 class="m-2 p-2"> Carrito {{cid}} <button class="btn btn-info m-2" onclick="location.href='/products'"> Volver al Inicio</button></h1>
</div>
<div>
    <ul>
        <h2>Productos agregados al carrito</h2>
        </br>
        {{#each products}}
        <li class=" p-1 m-1 ">
            {{this.product}} - {{this.quantity}}
        </li>
        {{/each}}
    </ul>
</div>

{{#if products.length}}
    <button id="purchaseBtn" class="btn btn-success m-2 mb-3" data-cart-id="{{cid}}">Finalizar Compra</button> <!-- Agregar atributo de datos -->
{{/if}}

<div id="purchaseResults" class="ticket"  style="display: none;" class="m-3 p-3">
    <h2 class="m-2">Productos Comprados</h2>
    <ul id="purchasedProducts" ></ul>
    <h2 class="m-2">Productos No Comprados</h2>
    <ul id="notPurchasedProducts" ></ul>
    <h2 class="m-2">Precio Total</h2>
    <ul id="total" ></ul>
</div>

<script type="module" src="/js/cartPurchase.js"></script>