
<form class="w-full max-w-sm" method="post" id = "loginForm">
      <div class='signup-container'>
<div class='left-container'>
  <h1>
    <i class='fas fa-paw'></i>
    Pet Shop
  </h1>
  <div class='puppy'>
    <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/image-from-rawpixel-id-542207-jpeg.png'>
  </div>
</div>
<div class='right-container'>
  <header>
    <h1>Inicia Sesion</h1>
    <div class='set'>
      <div class='pets-name'>
        <label >Email</label>
        <input id='pets-name'
         placeholder='Escriba su usuario'
          type='email'
           name="email"
            required />
      </div>
    </div>
    <div class='set'>
      <div class='pets-breed'>
        <label>Contraseña</label>
        <input 
        id='pets-breed'
         placeholder='Escriba su contraseña'
          type='password'
           name="password"
            required />
      </div>
    </div>
    <div class='set'></div>
  </header>
  <footer>
    <div class='set'>
      <a href="/products"><button id='next' type="submit">Enviar</button></a>
    </div>
  </footer>
</div>
</div>
      <p>¿No estas registrado?</p>
      <a href="/register">Registrarse</a>
      
        
      <p>Accede con Github!</p>
      <div class="">
        <a href="/api/auth/github">Iniciar Sesion con github</a>
          
        
      </div>
  
  </form>

<script defer src="./js/form.js"></script>
