    
<script src="/js/socket.js"></script> 
<script src="/socket.io/socket.io.js"></script>

<link rel="stylesheet" href="../public/index.css">


<form id="chat" >
  <h2>Chat</h2>
  <h3 id="user"></h3>


  <textarea id="msg" name="textarea" rows="10" cols="50">Write something here</textarea>

    <button class="navbar-toggler" type="submit" id="send-message" name="send-message" value="" > Enviar
    </button>
    <button class="navbar-toggler" type="submit"  id="delete-messages"  name="delete-message" value="">Eliminar Chat
    </button>

</form>

