{{!-- <link rel="stylesheet" href="../public/index.css">

<nav class="container">

    <a class="navbar-brand" href="#">Ecomerce </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
  
    
</nav>



<form id="add-products" method="post">
  <h2>Chat</h2>
  input type text
    />

</form>




<script src="/socket.io/socket.io.js"></script>
<script src="/js/socket.js"></script> --}}