<script src="/socket.io/socket.io.js"></script>
<script src="/js/socket.js"></script>

<form action="" method="post">
    <label for="">
        <input type="text">
        <input type="text">
        <input type="text">
    </label>
    
</form>