<h1>Restablecimiento de contraseña</h1>
<hr>
<form class="m-2" action="/recoverpassword" method="post">
    Email: <input type="text" class="m-2 "name="email"> <input class="btn btn-primary m-2" type="submit" value="Restablecer contraseña"><br><br> 
</form>

<button class="btn btn-primary m-2" onclick="location.href='/'">Login</button>
<button class="btn btn-primary m-2" onclick="location.href='/register'">Registrate</button>